<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout.html}">

<head>
    <title>Material Design for Bootstrap</title>
</head>

<body>
    <main layout:fragment="content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Trang chủ</h1>
        </div>
        <h1>OPPO Find X6 ra mắt với thiết kế độc đáo, cụm camera sau siêu to</h1>
        <img th:src="@{https://cdn.tgdd.vn/Files/2023/03/20/1519279/3-210323-153957-800-resize.jpg}" alt="mdo"
            width="800" height="460">
        <div id="Content">
            <p>
                Sau một thời gian dài xuất hiện dưới dạng tin đồn và hình ảnh rò rỉ, OPPO Find X6 đã được giới thiệu đến
                người dùng với ngoại hình cực kỳ độc đáo. Về mặt tổng thể, OPPO Find X6 sở hữu mặt lưng được hoàn thiện
                từ chất liệu kính (bóng hoặc nhám) đi kèm với ba phiên bản màu sắc cực trẻ trung là Vàng, Xanh rêu và
                Đen.
            </p>
            <p>
                Bên cạnh đó, OPPO Find X6 vẫn giữ nguyên ngôn ngữ thiết kế đặc trưng của dòng OPPO Find X với mặt lưng
                và các cạnh được làm bo cong mềm mại, kết hợp cùng phần khung viền được hoàn thiện từ chất liệu kim
                loại. Kiểu thiết kế này không chỉ giúp cho OPPO Find X6 trở nên bền bỉ mà còn giúp cho người dùng có thể
                sử dụng thiết bị với cảm giác cầm nắm thoải mái hơn.
            </p>
            <p>
                Đặc biệt, OPPO Find X6 sở hữu cụm camera lớn được đặt ở nửa trên của mặt lưng tương tự như Xiaomi 12S
                Ultra đã từng làm. Kể từ lần đầu tiên hợp tác với Hasselblad trên thế hệ tiền nhiệm OPPO Find X5, nhà
                sản xuất OPPO đã có những ý tưởng thiết kế táo bạo cho phần camera trên sản phẩm của hãng. Điều này là
                một minh chứng khẳng định rằng OPPO Find X6 cũng như các thế hệ Find X sau này sẽ mang đến cho người
                dùng trải nghiệm chụp ảnh tối ưu và thuận theo triết lý 'OPPO - Camera phone' mà OPPO đang hướng tới.
            </p>
            <p>
                Quay sang mặt trước, OPPO Find X6 được trang bị màn hình đục lỗ thường thấy ở các mẫu smartphone cao cấp
                trên thị trường trong những năm gần đây. Kết hợp với đó là phần viền hai bên được làm mỏng và bo cong về
                hai phía. Điều này phần nào giúp diện tích hiển thị nội dung trông sẽ rộng rãi hơn cũng như làm cho tổng
                thể mặt trước của OPPO Find X6 thêm phần đẹp mắt.
            </p>
        </div>
        <div id="generated">Generated 5 paragraphs, 422 words, 2864 bytes of <a href="https://www.lipsum.com/"
                title="Lorem Ipsum">Lorem Ipsum</a></div>
        </div>
        </div>
    </main>
</body>

</html>