<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<footer th:fragment="footer" id="footer" class="bg-dark text-white py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-12">
					<h4 class="font-rubik font-size-20">Fornax Mobile</h4>
					<p class="font-size-14 font-rale text-white-50">Với chiến lược omni-channel, Công ty vận hành mạng lưới hàng ngàn cửa hàng trên toàn quốc song song với việc tận dụng hiểu biết sâu rộng về khách hàng thông qua nền tảng dữ liệu lớn, năng lực chủ động triển khai các hoạt động hỗ trợ bán lẻ được xây dựng nội bộ và liên tục đổi mới công nghệ nhằm tạo ra trải nghiệm khách hàng vượt trội và thống nhất ở mọi kênh cũng như nâng cao sự gắn kết của người tiêu dùng.</p>
				</div>
				<div class="col-lg-3 col-12">
					<h4 class="font-rubik font-size-20">Email liên hệ:</h4>
					<form class="form-row">
						<div class="col">
							<input type="text" class="form-control" placeholder="Email *">
						</div>
						<div class="col">
							<button type="submit" class="btn btn-primary mb-2">Đăng kí</button>
						</div>
					</form>
				</div>
				<div class="col-lg-2 col-12">
					<h4 class="font-rubik font-size-20">Thông tin</h4>
					<div class="d-flex flex-column flex-wrap">
						<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Giới thiệu công ty</a>
						<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Tuyển dụng</a>
						<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Gửi góp ý, khiếu lại</a>
						<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Chính sách bảo mật</a>
					</div>
				</div>
				<div class="col-lg-3 col-12">
					<h4 class="font-rubik font-size-20">Tổng đài hỗ trợ (Miễn phí cuộc gọi)</h4>
					<div class="d-flex flex-column flex-wrap">
						
						<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Gọi mua: 1800.1060 (7:30 - 22:00)</a>
						<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Khiếu lại: 1800.1060 (7:30 - 22:00)</a>
						<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Bảo hành: 1800.1060 (7:30 - 22:00)</a>
						<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Tích điểm quà tặng (VIP)</a>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright text-center bg-dark text-white py-0">
			<p class="font-rale font-size-14">&copy; Copyrights 2020. Designed By <a href="#" class="color-second">Do Hung Cuong</a></p>
		</div>
	</footer>
	
	<!-- !start #footer -->
</body>

</html>