<!DOCTYPE html>
<html>
<body>
	<nav th:fragment="menu" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" th:href="@{/admin}"> -->
            <a class="nav-link active" th:href="@{/admin}" aria-current="page">
              <i class="fas fa-home mr-2"></i>
              Trang chủ
            </a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" th:href="@{/brands}"> -->
            <a class="nav-link" th:href="@{/brands}">
              <i class="fas fa-copyright mr-2"></i>
              Nhãn hàng
            </a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" th:href="@{/products}"> -->
            <a class="nav-link" th:href="@{/items}">
              <i class="fas fa-gifts mr-2"></i>
              Sản phẩm
            </a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" th:href="@{/customers}"> -->
            <a class="nav-link" th:href="@{/admin/unpaid}">
              <i class="fas fa-sharp fa-light fa-cash-register mr-2"></i>
              Thanh toán
            </a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" th:href="@{/customers}"> -->
            <a class="nav-link" href="#">
              <i class="fas fa-user-tag mr-2"></i>
              Khách hàng
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-chart-line mr-2"></i>
              Thống kê
            </a>
          </li>
        </ul>
      </div>
    </nav>
</body>
</html>